* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
  }
  
  .App {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #0000;
   
  }

  .font {
      font-size: 18px;
  }

  .table-container {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    border-radius: 7px;
    background-color: #000;
  }
  
  